<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.yolo.openiris"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:name=".OpenIrisApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/detect"
        android:usesCleartextTraffic="false">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ImageDetectActivity"
                  android:label="@string/image_detect"
                  android:screenOrientation="portrait" />
        <activity android:name=".RealtimeDetectActivity"
                  android:label="@string/realtime_detect"
                  android:screenOrientation="portrait" />
        <activity android:name=".VideoDetectActivity"
                  android:label="@string/video_detect"
                  android:screenOrientation="portrait" />
        <activity android:name=".SettingsActivity"
                  android:label="@string/settings"
                  android:screenOrientation="portrait" />
    </application>
</manifest>
